#{{ ansible_managed }}

{% if nginx_use_geoip_module|bool and ansible_os_family == 'Debian' %}
# Ensure ngx_http_geoip2_module.so is loaded. It is a dynamic module, so it must be included here
load_module modules/ngx_http_geoip2_module.so;
{% endif %}
{% if nginx_use_geoip_module|bool and ansible_os_family == 'RedHat' %}
# Ensure ngx_http_geoip2_module.so is loaded. It is a dynamic module, so it must be included here
load_module /usr/lib64/nginx/modules/ngx_http_geoip2_module.so;
{% endif %}

user              {{ nginx_user }};

worker_processes  {{ nginx_worker_processes }};
pid        /var/run/nginx.pid;
worker_rlimit_nofile {{ nginx_worker_rlimit_nofile }};

events {
    worker_connections  {{ nginx_max_clients }};
}


http {
{% if nginx_use_http_real_ip|bool and nginx_http_real_ip_from_list|length>0 %}
{%   for v in nginx_http_real_ip_from_list %}
        set_real_ip_from {{ v }};

{%   endfor %}
        real_ip_header {{ nginx_http_real_ip_header }};
        real_ip_recursive {{ nginx_http_real_ip_recursive }};
{% endif %}
        include /etc/nginx/mime.types;
        default_type application/octet-stream;
{% for v in nginx_http_params %}
        {{ v }};
{% endfor %}

{% if nginx_use_geoip_request_limit|bool or nginx_use_bots_request_limit|bool or nginx_use_default_request_limit|bool %}
        # Include rate-limits. Not using conf.d dir to avoid automatic load if it was enabled and disabled later (ansible role doesn't delete files)
        include /etc/nginx/rate-limits/rate-limits.conf;
{% endif %}

        include /etc/nginx/conf.d/*.conf;
        include /etc/nginx/sites-enabled/*;
}
