{% for exception in item.exceptions %}
{%   if exception.enable|bool %}
{{ exception.asn }}-{{ exception.host }} {{ exception.asn }};
{%   else %}
{{ exception.asn }}-{{ exception.host }} "";
{%   endif %}
{% endfor %}
